<section id="customer_api_reset" data-section-type="reset-password">
  <div class="container">
    <form id="reset_customer_password" class="form form--main ca_recaptcha_form">
      <header class="form__header">
        <h1 class="form__title heading h1">{{ 'customer.reset_password.reset_password' | t }}</h1>
        <p class="form__legend">{{ 'customer.reset_password.description' | t }}</p>
      </header>

      <p class="alert alert--error" id="recovery-form-error" hidden="true">Token has expired!</p>
      <input type="hidden" id="reset_password__input--return_url" value="{{ shop.url }}/account/">
      <div class="form__input-wrapper form__input-wrapper--labelled">
        <input type="password" id="reset_password__value--password" class="form__field form__field--text" name="customer[password]" autocomplete="new-password" required="required">
        <label for="reset_password__value--password" class="form__floating-label">{{ 'customer.reset_password.password' | t }}</label>
      </div>

      <div class="form__input-wrapper form__input-wrapper--labelled">
        <input type="password" id="reset_password__value--repassword" class="form__field form__field--text" name="customer[password_confirmation]" autocomplete="new-password" required="required">
        <label for="reset_password__value--repassword" class="form__floating-label">{{ 'customer.reset_password.password_confirmation' | t }}</label>
      </div>

      <button type="submit" class="form__submit button button--primary button--full">{{ 'customer.reset_password.submit' | t }}</button>
    </form>
  </div>
</section>